<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TAdminMapper">
	<select id="findTAdminList" 
		resultType="TAdmin">
		select * from t_admin 
	</select>
	
	<select id="query" parameterType="java.util.Map" resultType="TAdmin">
		select * from t_admin  
		<where>
			<if test="id!=null and id!=0">
			   and id= #{id}
			</if>
			<if test="username!=null and username!=''">
			   and username= #{username}
			</if>
			<if test="userpw!=null and userpw!=''">
			   and userpw= #{userpw}
			</if>
		</where>
	</select>
	
	
	<select id="queryTAdminById" parameterType="int" resultType="TAdmin">
		select * from t_admin where id=${value}
	</select>
 


	<insert id="insertTAdmin" useGeneratedKeys="true" keyProperty="id" parameterType="TAdmin">
		insert into t_admin
		(userId,userName,userPw)
		values
		(#{userid},#{username},#{userpw});
	</insert>
 
	
  
 
 



	<update id="updateTAdmin" parameterType="TAdmin" >
		update t_admin set
		userId=#{userid},userName=#{username},userPw=#{userpw}
		where
		id=#{id}	
	</update>
	
 
	
	<delete id="deleteTAdmin" parameterType="int">
	    delete from  t_admin where id=${value}
	</delete>

</mapper>

 