<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WenzhangMapper">
	<select id="findWenzhangList" 
		resultType="Wenzhang">
		select * from wenzhang 
	</select>
	
	<select id="query" parameterType="java.util.Map" resultType="Wenzhang">
		select * from wenzhang  
		<where>
			<if test="id!=null and id!=0">
			   and id= #{id}
			</if>
			<if test="uid!=null and uid!=''">
			   and uid=#{uid}
			</if>
			<if test="zhiding!=null and zhiding!=''">
			   and zhiding=#{zhiding}
			</if>
		  <if test="state!=null and state!=''">
			   and state=#{state}
			</if>
		</where>
		 order by zhiding desc,fbsj desc
	</select>
	
	
	<select id="queryWenzhangById" parameterType="int" resultType="Wenzhang">
		select * from wenzhang where id=${value}
	</select>
 


	<insert id="insertWenzhang" useGeneratedKeys="true" keyProperty="id" parameterType="Wenzhang">
		insert into wenzhang
		(title,contents,fbsj,uid,zcount,vcount,state,glfb,zhiding)
		values
		(#{title},#{contents},#{fbsj},#{uid},#{zcount},#{vcount},#{state},#{glfb},#{zhiding});
	</insert>
 
	
  
 
 
 
 
 
 
 
 
 



	<update id="updateWenzhang" parameterType="Wenzhang" >
		update wenzhang set
		title=#{title},contents=#{contents},fbsj=#{fbsj},uid=#{uid},zcount=#{zcount},vcount=#{vcount},state=#{state},glfb=#{glfb},zhiding=#{zhiding}
		where
		id=#{id}	
	</update>
	
 
	
	<delete id="deleteWenzhang" parameterType="int">
	    delete from  wenzhang where id=${value}
	</delete>

</mapper>

 